/* .slick-slider {
  position: relative;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
*/

.slick-list {
  height: 100vh !important;
}

.slick-active {
  margin: 50px 0;
}

.slick-track div {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-track div {
  outline: none;
}

.slick-slide:not(.slick-active) {
  transition: all 0.6s ease-in-out;
  filter: blur(1.7rem);
}

.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
  height: 100vh;
}

.embla__viewport {
  height: 100vh;
  overflow: hidden;
}
.embla__container {
  height: 100vh;
  display: flex;
  touch-action: pan-x pinch-zoom;
  margin-top: 30%;
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
}
.embla__slide {
  padding: 30px 0;
}

.embla__slide:not(.is-snapped) {
  filter: blur(10px);
}

@media only screen and (min-width: 1200px) {
  /* Styles for large screens */
  .slick-list {
    padding: 5% 0 !important;
  }
}

@media only screen and (min-width: 1024px) {
  /* Styles for desktops */
  .slick-list {
    padding: 5% 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
}

@media only screen and (max-width: 480px) {
  /* Styles for small screens */
  .slick-slider {
    padding: 0;
  }
  .slick-active {
    margin: 10% 0;
  }

  .slick-slider {
    height: 100vh !important;
  }
  .slick-list {
    padding: 0;
  }
}
